
*.asv
Granule/ResultsSim.mat
Granule/R.mat
IbM_V2/testingRMatrix.mat
*.mat
*.avi
*.png
*.gif
*.pyc
*tmp/*
*.vscode/*
planning/*.mat
*testing*
*.xlsx
!planning/Excels/Templates/*_template.xlsx
!main.xlsx
*.fig
*.tif
